
<app-day-legend (startDateToCalendary)="addItem($event)"></app-day-legend>
<div soho-calendar
   [events]="events"
   [eventTypes]="eventTypes"
   [month]="initialMonth"
   [year]="initialYear" 
   [showViewChanger]="showViewChanger"
   [selectedCallback]="onCalendarDateSelectedCallback"
   [firstDayOfWeek]="1"
   [disable]="{dayOfWeek: [0,6]}"  
   (selected)="onSelected($event)" 
   (dblclick)="dblclick()" 
 
   (eventClick)="onEventClicked($event)"
   (eventDblClick)="onEventDblClicked($event)" 
    (eventContextMenu)="onCalendarEventContextMenu($event)"
    [eventTooltip]="eventTooltip"
    [iconTooltip]="iconTooltip"
    [renderMonthCallback]="onRenderMonthCallback"
    
   
>


 <div soho-calendar-monthview>  
    
</div>
 <div soho-calendar-week-view></div>

</div>

